.DS_Store
node_modules
public
.idea
coverage
.env
output/
*.iml
anchore-reports
.nyc_output
.vscode
.vscode-server
dump.rdb
yarn-error.log
apps/**/translations/**/*
!apps/**/translations/src/
!apps/**/translations/src/**/*
test/_accessibility/tmp/*
.nyc_output
.devcontainer/*.env