{
  "all": true,
  "include": [
    "apps/**/*.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": true,
  "statements": 80,
  "branches": 80,
  "functions": 80,
  "lines": 80,
  "exclude": [
    "test/**/*.js",
    "apps/**/sections/**/*.js",
    "apps/**/fields/**/*.js"
  ]
}
