{
  "all": true,
  "include": [
    "apps/**/*.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": true,
  "statements": 30,
  "branches": 25,
  "functions": 22,
  "lines": 31,
  "exclude": [
    "test/**/*.js",
    "apps/**/sections/**/*.js",
    "apps/**/fields/**/*.js"
  ]
}
