{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": true,
  "statements": 72,
  "branches": 64,
  "functions": 72,
  "lines": 73,
  "exclude": [
    "test/**/*.js",
    "apps/**/sections/**/*.js",
    "apps/**/fields/**/*.js"
  ]
}
