{{#hasAddresses}}
  <div id="address-summary">
    <h2>{{#t}}pages.{{field}}-address.summary{{/t}}</h2>
    <table class="table-address-loop">
      {{#hasCategories}}
        {{> partials-location-categories}}
      {{/hasCategories}}
      {{^hasCategories}}
        <tbody>
          {{#items}}
          <tr class="address-summary">
            <td>{{address}}</td>
            <td><a href="{{baseUrl}}/{{route}}/delete/{{id}}" class="button button-delete">{{#t}}buttons.delete{{/t}}</a></td>
          </tr>
          {{/items}}
        </tbody>
      {{/hasCategories}}
    </table>
  </div>
{{/hasAddresses}}
