<thead>
  <tr class="address-summary">
    <th>{{#t}}pages.location.table.location{{/t}}</th>
    <th colspan="2">{{#t}}pages.location.table.categories{{/t}}</th>
  </tr>
</thead>
<tbody>
  {{#items}}
    <tr class="address-summary">
      <td>{{address}}<br><br><a href="{{baseUrl}}/location-postcode/edit/{{id}}">{{#t}}pages.location.edit.location{{/t}}</a></td>
      <td>{{categories}}<br><br><a href="{{baseUrl}}/location-address-category/edit/{{id}}">{{#t}}pages.location.edit.categories{{/t}}</a></td>
      <td><a href="{{baseUrl}}/{{route}}/delete/{{id}}" class="button button-delete">{{#t}}buttons.delete{{/t}}</a></td>
    </tr>
  {{/items}}
</tbody>
