<div class="add-remove-section">
  <h3>{{section}}</h3>
  <span><a href="{{baseUrl}}/{{step}}/edit#" class="govuk-link" id="{{step}}-change">{{#t}}buttons.change{{/t}}</a></span>
</div>
<table class="table-details">
  {{#moreThanOneField}}
    <thead>
      <tr>
        {{#headers}}
          <th>{{.}}</th>
        {{/headers}}
      </tr>
    </thead>
  {{/moreThanOneField}}
  <tbody>
  {{#items}}
    <tr>
      {{#fields}}
        <td class="no-white-space">{{label}}</td>
        <td data-value="no-white-space">{{value}}</td>
      {{/fields}}
    </tr>
  {{/items}}
  </tbody>
</table>
