$path: "../img/";

@import "hof/frontend/themes/gov-uk/styles/govuk";

@import "./icons.scss";
@import "./print.scss";


.phase-banner {
  @include phase-banner(beta);
}

#step {
  span {
    display: inline-block;
    margin-top: $gutter-half;
    color: $secondary-text-colour;
  }
}

h1 {
  margin-top: inherit;
}

#handle-weapons-group {
  margin-bottom: 0;
}

#buy-details-group {
  margin-bottom: 0;
}

select.address {
  border: 1px solid #aaa;
  font-family: "nta",Arial,sans-serif;
  font-size: 19px;
}

span.postcode {
  font-weight: bold;
  margin-right: 0.5em;
}

summary.summary-details {
  margin-bottom: 20px;
}

//storage-address-summary
#address-summary {
  border: 5px solid #dee0e2;
  margin-top: 30px;
  padding: 20px 15px 20px 15px;

  h2 {
    margin-top: 0;
  }

  .address-summary {
    font-size: 16px;
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: 5px;

    .button-delete {
      @include bold-24;
      font-size: 16px !important;
      background: #d4351c url("../images/icons/icon-cross-remove-sign.png") no-repeat 90% 50% / 14px 14px;
      float: right;
      box-shadow: 0 2px 0 #55150b;
      padding: em(7) em(41) em(4) em(16);
      -webkit-box-shadow: 0 2px 0 #55150b;
      -moz-box-shadow: 0 2px 0 #55150b;

      &:hover, &:active {
        background-color: darken( $red, 10% );
      }

      &:visited {
        background-color: $red;
      }
    }
  }
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

// icon-important
.notice {
  clear: both;
  position: relative;
  margin-bottom: 20px;

  .important-text {
    padding-left: 65px;
    display: block;
  }
}

div.add-remove-section {
  h3 {
    float: left;
  }
  span {
    float:right;
    margin-top: 1.4em;
  }
}

.table-details {
  width: 100%;
  margin-bottom: 3em;

  tbody {
    td:nth-child(1) {
      width: 40%;
      font-weight: bold;
    }
    td:nth-child(2) {
      width: 60%;
    }
    td:nth-child(3) {
      text-align: right;
      padding-right: 0;
    }
    td:not(.no-white-space) {
      white-space: pre-wrap;
    }
  }
}

// address loop table
.table-address-loop {
  width: 100%;

  tbody {
    td:nth-child(1) {
      width: 60%;
    }
    td:nth-child(2) {
      width: 40%;
    }
    td:nth-child(3) {
      text-align: right;
      padding-right: 0;
    }
    td:not(.no-white-space) {
      white-space: pre-wrap;
    }
  }
}

// confirmation
.alert-complete {
  padding: 4.65263em;
  text-align: center;
}

.alert-message h1 {
  font-size: 35px;
}

.alert-message p:last-child {
  margin-bottom: 0;
}

ul {
  @extend .text;
  @extend .list;
  @extend .list-bullet;
}

.govuk-date-input__input {
  width: 100%
}

a {
  @extend .govuk-link;
}
