// ==========================================================================
// Icons
// ==========================================================================


.icon:before {
  cursor: default;
  content: '\00a0'; /* non-breaking space */
  display: block;
  height: 22px;
  text-align: center;
  vertical-align: middle;
  width: 22px;
}


.icon {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}


.icon-complete {
  float: left;
  margin-right: 10px;
  overflow: hidden;
  background-image: url("../images/icons/icon-complete.png");
  display: block;
}

.icon-important {
  float: left;
  background: url("../images/icons/icon-important.png") no-repeat;
  height: 35px;
  width:35px;
  position: absolute;
  top: 50%;
  margin-top: -17.5px;
}
