{{#items.length}}
  <div id="address-summary">
    <table class="table-address-loop">
      <caption class="govuk-table__caption govuk-table__caption--m">{{#t}}pages.{{field}}.header{{/t}}</caption>
      {{#hasCategories}}
        {{> partials-location-categories}}
      {{/hasCategories}}
      {{^hasCategories}}
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-visually-hidden">Addresses</th>
          <th scope="col" class="govuk-table__header govuk-visually-hidden">Action</th>
        </tr>
      </thead>  
      <tbody>
          {{#items}}
          <tr class="address-summary">
            <td>{{address}}</td>
            <td><a href="?delete={{id}}" class="govuk-button button-delete">{{#t}}buttons.delete{{/t}}</a></td>
          </tr>
          {{/items}}
        </tbody>
      {{/hasCategories}}
    </table>
  </div>
{{/items.length}}
