{{<partials-page}}
  {{$encoding}}enctype="multipart/form-data"{{/encoding}}
  {{$page-content}}
    {{#renew}}
      {{> partials-important-message}}
    {{/renew}}
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{> partials-existing-authority-documents-guidance}}
    <p>{{#input-submit}}upload-file{{/input-submit}}</p>
    {{#values.existing-authority.length}}
    <p><a href="{{nextPage}}">{{#t}}pages.existing-authority.cancel{{/t}}</a></p>
    {{/values.existing-authority.length}}
  {{/page-content}}
{{/partials-page}}
