{{<govuk-template}}
  {{$bodyClasses}}pdf{{/bodyClasses}}
  {{$head}}
    {{> partials-head}}
    <style>
      .pdf #global-header,
      .pdf footer,
      .pdf #declaration-section,
      .pdf #skiplink-container
      {
        display: none;
      }

      html {
        background: white;
      }

      table {
        width: 100%;
      }
      table td:nth-child(1) {
        width: 33%;
      }
      table td:nth-child(2) {
        white-space: pre;
      }
      table td:nth-child(3) {
        display: none;
      }
      table td {
        padding: 10px 0;
        border-bottom: 1px #ccc solid;
      }
    </style>
  {{/head}}
  {{$main}}
    <main id="content" class="main" role="main">
      <h1>{{title}}</h1>
      {{#rows}}
        {{#hasMultipleFields}}
          {{> partials-multiple-fields-summary-table}}
        {{/hasMultipleFields}}
        {{^hasMultipleFields}}
          {{> partials-summary-table}}
        {{/hasMultipleFields}}
      {{/rows}}
    </main>
  {{/main}}
{{/govuk-template}}
