NODE_ENV=development

REDIS_HOST=hof-redis
SESSION_SECRET=

# FileVault

# URL of file-vault, this is used when returning a URL upon successful upload to S3
#FILE_VAULT_URL=http://file-vault:3000

# Location of ClamAV rest service
#CLAMAV_REST_URL=

# The maximum file size that Clam AV will scan (bytes). Default is 110100480 (which is 105 MB in bytes)
#MAX_FILE_SIZE=

# A comma separated list of file types that you want to white-list (defaults to everything). If the file is not in this list file-vault will respond with an error.
#FILE_EXTENSION_WHITELIST=

# Length of time (in seconds) for timeouts on http requests made by file-vault (when talking to clamAV and s3, defaults to 15s)
#REQUEST_TIMEOUT=


#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_KMS_KEY_ID=

# AWS Region (defaults to eu-west-1)
#AWS_REGION=

# AWS Signature Version (defaults to v4)
#AWS_SIGNATURE_VERSION=

#AWS_BUCKET=

# A password used to encrypt the params that are returned by file-vault
#AWS_PASSWORD=

#RETURN_ORIGINAL_SIGNED_URL=
#ALLOW_GENERATE_LINK_ROUTE=

# Length of time (in seconds) the URL will be valid for (defaults to 1 hour)
#AWS_EXPIRY_TIME=

#PROXY_DISCOVERY_URL=
#PROXY_REVOCATION_URL=

# KEYCLOAK
#KEYCLOAK_TOKEN_URL=
#KEYCLOAK_LOGOUT_URL=
#KEYCLOAK_ADMIN_URL=
#KEYCLOAK_PUBLIC_KEY=

#FILE_VAULT_USERNAME=
#FILE_VAULT_PASSWORD=
#FILE_VAULT_CLIENT_ID=
#FILE_VAULT_CLIENT_SECRET=

# user-auth-client is used to authenticate and authorise users
#USER_AUTH_CLIENT_ID=
#USER_AUTH_CLIENT_SECRET=
#USER_AUTH_ALLOWED_ROLE=

# admin-client is used to manage users (create, update, delete)
#ADMIN_CLIENT_ID=
#ADMIN_CLIENT_SECRET=

#Gov.uk Notify
NOTIFY_KEY=
TEMPLATE_MUSEUM=
TEMPLATE_SECTION5=
TEMPLATE_SHOOTING_CLUB=
FROM_ADDRESS=
TEMPLATE_SUPPORTING_DOCUMENTS=
CASEWORKER_EMAIL=

#html-pdf-converter
PDF_CONVERTER_URL=http://html-pdf-converter:8082/convert

#iCasework
ICASEWORK_API_KEY=
ICASEWORK_API_SECRET=
ICASEWORK_URL=http://icasework-mock:4000
ICASEWORK_DB=
