{{<partials-page}}
  {{$page-content}}
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    <details>
      <summary class="activity-details" role="button">
        <span class="summary">{{#t}}fields.activity.header{{/t}}</span>
      </summary>
      <div class="panel-indent">
        <div id="activity-details-summary">
          {{#t}}fields.activity.summary-details{{/t}}
        </div>
      </div>
    </details>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
