{{<partials-page}}
  {{$page-content}}
    {{#select}}{{key}}{{/select}}
    <div data-module="govuk-checkboxes">
      {{#checkbox}}{{key}}-multi{{/checkbox}}
    {{<partials-multi-nationality}}
      {{$panel}}{{key}}-multi{{/panel}}
      {{$panel-content}}
        {{#select}}{{key}}-second{{/select}}
        {{#select}}{{key}}-third{{/select}}
      {{/panel-content}}
    {{/partials-multi-nationality}}
    </div>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
