{{<partials-page}}
  {{$page-content}}
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    <details>
      <summary class="summary-details" role="button">
        <span class="summary">{{#t}}pages.authority-number-renew-vary.summary-header{{/t}}</span>
      </summary>
      <div class="panel-indent">
        <div id="authority-number-details-summary">
          {{#t}}pages.authority-number-renew-vary.details{{/t}}
        </div>
      </div>
    </details>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
