{{<partials-page}}
  {{$page-content}}
    <div class="alert-complete" role="alert">
      <div class="alert-message">
        <h1>{{#t}}pages.confirmation.alert{{/t}}</h1>
      </div>
    </div>
    <div>
      <p>{{#t}}pages.confirmation.email{{/t}}</p>
    </div>
    {{#markdown}}evidence{{/markdown}}
    {{#isArmedGuards}}
      {{#markdown}}armed-guards{{/markdown}}
    {{/isArmedGuards}}
    {{#markdown}}evidence-instructions{{/markdown}}
    {{#markdown}}what-happens-next{{/markdown}}
  {{/page-content}}
{{/partials-page}}
