{{<partials-page}}
  {{$page-content}}
    <fieldset id="first-authority-dob-group">

      {{#errors.first-authority-dob}}
        <span id="first-authority-dob-error" class="govuk-error-message">
          {{errors.first-authority-dob.message}}
        </span>
      {{/errors.first-authority-dob}}

      <p class="govuk-hint">{{#t}}fields.first-authority-dob.hint{{/t}}</p>
      <div class="govuk-form-group govuk-date-input {{#errors.first-authority-dob}}govuk-form-group--error{{/errors.first-authority-dob}}">
        {{#input-date}}first-authority-dob{{/input-date}}
      </div>

    </fieldset>

    {{#input-text}}first-authority-town-birth{{/input-text}}
    {{#select}}{{key}}{{/select}}

    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
