{{<partials-page}}
  {{$page-content}}
    {{#input-text}}first-authority-holders-nationality{{/input-text}}
    {{#checkbox}}first-authority-holders-nationality-multi{{/checkbox}}
    {{<partials-multi-nationality}}
      {{$panel}}first-authority-holders-nationality-multi{{/panel}}
      {{$panel-content}}
        {{#input-text}}first-authority-holders-nationality-second{{/input-text}}
        {{#input-text}}first-authority-holders-nationality-third{{/input-text}}
      {{/panel-content}}
    {{/partials-multi-nationality}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
