{{<partials-page}}
  {{$page-content}}
    <fieldset id="second-authority-dob-group">

      {{#errors.second-authority-dob}}
        <span id="second-authority-dob-error" class="govuk-error-message">
            {{errors.second-authority-dob.message}}
        </span>
      {{/errors.second-authority-dob}}

      <p class="govuk-hint">{{#t}}fields.second-authority-dob.hint{{/t}}</p>
      <div class="govuk-form-group govuk-date-input {{#errors.second-authority-dob}}govuk-form-group--error{{/errors.second-authority-dob}}">
        {{#input-date}}second-authority-dob{{/input-date}}
      </div>

    </fieldset>

    {{#input-text}}second-authority-town-birth{{/input-text}}
    {{#select}}{{key}}{{/select}}
    
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
