{{<partials-page}}
  {{$page-content}}
    <label>
      {{#t}}fields.storage-postcode.label{{/t}}
    </label>
    <p>
      <span class="postcode">{{postcode}}</span>
      <span class="link"><a href="{{baseUrl}}/storage-postcode{{#id}}/edit/{{id}}{{/id}}">{{#t}}pages.address.edit{{/t}}</a></span>
    </p>

    {{#select}}storage-address-lookup{{/select}}

    <p><span id="cant-find" class="link"><a href="{{baseUrl}}/storage-address{{#id}}/edit/{{id}}{{/id}}">{{#t}}pages.address.cantfind{{/t}}</a></span></p>

    {{#input-submit}}continue{{/input-submit}}

    {{<partials-storage-address-summary}}{{/partials-storage-address-summary}}
  {{/page-content}}
{{/partials-page}}
