{{<partials-page}}
  {{$page-content}}
    {{#renew}}
      {{> partials-important-message}}
    {{/renew}}
    {{#markdown}}supporting-documents{{/markdown}}
    {{#armGuards}}
      {{#markdown}}arm-guards-documents{{/markdown}}
    {{/armGuards}}
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    <div id="upload-documents-later">
      <div class="panel-indent">
        {{#markdown}}upload-documents-later{{/markdown}}
      </div>
    </div>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
